body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* 全体を中央に寄せるためのベース設定 */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}
